*{
    text-align: center;
    justify-content: center;
    align-items:center;
    align-content: center;
}

button{
    background-color: aquamarine;
    color: black;
    border-color: white;
}

h2{ 
    border-color: black !important;
    color: aquamarine ;
    
}


body{
    background-image: url("xml2.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 100%;
}